<div th:replace="~{/layout/index :: dynamic (~{::main})}">
        <main class="container mb-4">
            <div class="row">
                <div th:each="p: ${items}" class="col-sm-4">
                    <div class="card poly-item bg-dark text-center mt-4">
                        <div class="card-body bg-dark" style="max-height: 300px;">
                            <a th:href="@{|/product/detail/${p.id}|}">
                                <img th:src="@{|/assets/images/${p.image}|}" class="img-fluid" style="max-height: 300px;">
                            </a>
                        </div>
                        <div class="card-header mt-3">
                            <h5 class="card-title text-white" th:text="${p.name}"></h5>
                        </div>
                        <div class="card-footer text-right bg-dark mt-2">
                            <h5 class="pull-left text-white">$[[${p.price}]]</h5>
                        </div>
                        <div class="card-footer text-right bg-dark">
                            <button class="btn btn-primary mb-3" th:replace="~{/product/_actions::item_id(${p.id})}">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>