<!-- Product Edition Component -->
<div class="card">
    <div class="card-header text-dark">PRODUCT EDITION</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4 text-center">
                <label for="image">
                    <img ng-src="{{'/assets/images/'+form.image}}" class="img-fluid" style="height:200px">
                </label>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div>Name</div>
                        <input ng-model="form.name" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <div>Price</div>
                        <input ng-model="form.price" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div>Image</div>
                        <input type="file" class="form-control" id="image" onchange="angular.element(this).scope().imageChanged(this.files)">
                    </div>
                    <div class="form-group col-sm-6">
                        <div>Category</div>
                        <select ng-model="form.category.id" class="form-select">
                            <option ng-repeat="c in categories" ng-value="c.id">{{c.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div>Create Date</div>
                        <input ng-model="form.createDate" type="date" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <div>Available?</div>
                        <div class="form-check">
                            <input ng-model="form.available" ng-value="true" name="available" type="radio" id="availableYes" class="form-check-input">
                            <label class="form-check-label" for="availableYes">Yes</label>
                        </div>
                        <div class="form-check">
                            <input ng-model="form.available" ng-value="false" name="available" type="radio" id="availableNo" class="form-check-input">
                            <label class="form-check-label" for="availableNo">No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button ng-click="create()" ng-disabled="form.id" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Create
        </button>
        <button ng-click="update()" ng-disabled="!form.id" class="btn btn-success">
            <i class="bi bi-save"></i> Update
        </button>
        <button ng-click="delete(form)" ng-disabled="!form.id" class="btn btn-danger">
            <i class="bi bi-trash"></i> Delete
        </button>
        <button ng-click="reset()" class="btn btn-info">
            <i class="bi bi-arrow-clockwise"></i> Reset
        </button>
    </div>
</div>